.cover{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    margin-top: auto;
    padding-top: auto;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.cover-image {
    width: 100%;
    height: 50vh;
    padding: 0;
    object-fit: cover;
}

.cover-tittle{
    font-family: 'NT Sakharov', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 54px;
    color:#ffffff;
    line-height: 54px;
    text-align: left;
    padding-left: 15%;
    padding-top: 50px;
    padding-bottom: 100px;
}

@media (max-width: 1200px){
    .cover{
        height: 80vh;
    }
    
    .cover-tittle{
        font-size: 38px;
        padding-top: 45px;
        padding-bottom: 90px;
    }

    .cover-image {
        max-width: 100%;
        height: 30vh;
        object-fit: cover;
    }
}

@media (max-width: 500px){
    .cover-tittle{
        font-size: 22px;
        line-height: 30px;
    }
}