/* VARIABLES */
:root {
  --navigationcolor: black;
  --coal: #3A3A3A;
  --snow: #ECEFF1;
  --apple: #FF4D3A;
}

/* DEFAULT PROPERTIES */
*, *::before, *::after {
  box-sizing: border-box;
  font: 400 18pt;
  color: var(--textcolor);

}

/* CONTAINER PROPERTIES */
.header{
    margin: 24px;
    height: 0px;

    display: table-row;
    position: fixed ;
    left: 0;
    right: 0;
    z-index: 5;
    top: 0;
}

.header-menu{
    display: flex;


}

.nav-bar{
    display: flex;
    width: 100%;
}

.nav-items {
    background-color: var(--navigationcolor);
    padding: 10px 30px;
    margin-right: auto;
}

.nav-tittle{
    margin: 0;
}

.nav-button{margin-right: 0;} 

.open-menu{
    padding: 20px;
    opacity: 0;
    background: var(--navigationcolor);
    visibility: none;

    position: absolute;
    right: -10000px;
}

#menu-ctn {}
a {
    cursor: pointer;
}
#menu-cnt {}

.menu-bars {
  height: 3px;
  width: 30px;
  list-style: none;
  background: var(--textcolor);
  margin: 0 0px;
  position: relative;
  top: 14px;

}
.menu-item, a.item-link {
  list-style: none;
  text-decoration: none;
  z-index: 5;
  background: transparent;
  width: 100%;
  display: inline-block;
  color: #b1b1b1ff;
}
a.soc-link {
  padding: 5px 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
a.soc-link:nth-of-type(1) {
  margin-top: 12px;
}
hr {
  border: 0.5px solid var(--coal);
}


.dropped {
  margin-top: 12px;
  position: absolute;
  right: 0px;
  display: inline-block !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.menu-bars::before, .menu-bars::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  list-style: none;
  background: var(--textcolor);
}
.menu-bars::before {
  transform: translateY(-10px);
}
.menu-bars::after {
  transform: translateY(10px);
}


/* EVENT HANDLERS */
.menu-item:hover, a.item-link:hover {
  color: var(--coal);
}
a.soc-link:hover {
  background: var(--textcolor);

}

/* ANIMATION KEYFRAMES */
@keyframes rotate-top-bar {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes rotate-bottom-bar {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes rotate-top-bar-2 {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes rotate-bottom-bar-2 {
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}