body {
    font-family: 'NT Sakharov', sans-serif;
    color: #0C0B0E;
    font-feature-settings: "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "kern" 1;
    padding: 0%;
    margin: 0%;
}


@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Light.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

main{padding: 1%;}

h1 {font-size: 64pt; font-weight: 600;}

h3 {font-size: 20pt; font-weight: 500; line-height: 36pt;}

h4 {font-size: 18pt; font-weight: 500; line-height: 36pt;}


a:link {
    color: #0C0B0E;
    text-decoration: none;
}

a:visited {
    color:#0C0B0E;
    text-decoration: none;
}

a:hover {
    color: #0C0B0E;
    text-decoration: underline;
}
a:active {
    color: #0C0B0E;
    text-decoration: underline;

}

.header_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2%;
}

.nav_list {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.nav_list_item {padding-item: 20px;}

.logo_img {
    width: 50px;
}

.work_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work_card {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 1%;
}

.work_card_img {
    width: 100%;
}


@media (max-width: 1400px) {
    .header_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    h1 {font-size: 54pt;}

    h4 {font-size: 16pt;}

    .header_container {
        grid-template-columns: 1fr 2fr;
    }

    .work_container {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 450px) {
    h1 {font-size: 32pt;}

    h4 {font-size: 15pt;}

    .header_container {
        grid-template-columns: 1fr 8fr;
    }
}
